<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="bi bi-flower1"></i>
      <span class="text-warning">Intelio</span>
    </a>

    <button class="navbar-toggler" type="button"
    data-bs-toggle="collapse"
    data-bs-target="#menu"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Garitos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
          href="#" id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown">Conciertos</a>
          <ul class="dropdown-menu bg-secondary">
            <li>
              <a class="dropdown-item" href="#">Noticias</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Garitos</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Conciertos</a>
            </li>
          </ul>
        </li>
      </ul>
      <hr class="text-white-50">
      <ul class="navbar-nav flex-row flex-wrap text-light">
        <li class="nav-item col-6 col-md-auto p-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook">
          <i class="bi bi-facebook"></i>
          <small class="d-md-none ms-2">Facebook</small>
        </li>
        <li class="nav-item col-6 col-md-auto p-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram">
            <i class="bi bi-instagram"></i>
          <small class="d-md-none ms-2">Twitter</small>
        </li>
        <li class="nav-item col-6 col-md-auto p-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Radios">
          <i class="bi bi-broadcast-pin"></i>
          <small class="d-md-none ms-2">Instagram</small>
        </li>
        <li class="nav-item col-6 col-md-auto p-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Login">
          <i class="bi bi-person-circle"></i>
          <small class="d-md-none ms-2">Github</small>
        </li>
      </ul>
      <form class="d-flex"></form>
      <button class="btn btn-outline-warning d-none d-md-inline-block" type="submit">Información</button>
    </div>
    </div>
</nav>
