

.navbar-brand img {
  height: 60px;
  width: auto;
  // background-color: rgba(0,0,0,.1);
}

.header_change {
  background-color: transparent !important;
}

ul li {
  font-size: 24px;
  color: red;
  font-weight: 900;
}

ul li a {
  color: red;
  font-weight: 800;
}
ul li a img {
  height: 32px;
}

@media  only screen and (max-width: 1500px) {
  ul li {
    font-size: 15px;
  }
  .navbar-brand img {
    height: 50px;
  }
  ul li a img {
    height: 20px;
  }
}

@media  only screen and (max-width: 1200px) {
  ul li {
    font-size: 10px;
  }
  .header_change {
    background-color: black !important;
  }
  .navbar-toggler {
    border: 1px solid white;
  }
}


