// .news {
//  margin-top: 15vh;
// }

.main-img img {
  max-height: 90vh;
  width: 100vw;
  background-size: cover;
}
.center {
  background-color: white;
  border-radius: 25px;
}
main {
  background-color: black;
}
