<main class="container-fluid p-3">
  <section class="news">
    <div class="row">
      <article>
        <app-search></app-search>
      </article>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2 center  rounded-5">
          <article class="main-news" *ngIf="!busquedaActiva">
            <app-heading
            [heading]="'NOTICIAS DEL DÍA'"
            ></app-heading>
            <app-main></app-main>
          </article>
          <article class="container-fluid">
            <app-heading
            [heading]="'NOTICIAS'"
            ></app-heading>
            <app-card-news></app-card-news>
          </article>
        </div>
  </div>
</section>
</main>
<app-card></app-card>



