<div class="container-fluid gallery">
  <div class="row">
    <ng-container *ngFor="let concierto of conciertos | paginate: { itemsPerPage: 30, currentPage: p }; let i = index ">
      <!-- Extraer el mes de la fecha del concierto -->
      <ng-container *ngIf="i === 0 || (concierto.fecha_evento | date: 'MMMM y' : 'es') !== (conciertos[i - 1].fecha_evento | date: 'MMMM y')">
        <div class="col-12">
          <h2 class="display-1 py-1 mt-5">{{ concierto.fecha_evento | date: 'MMMM y' : 'es' }}</h2>
        </div>
      </ng-container>
      <!-- Tarjeta de concierto -->
      <div class="col-xxl-2 col-xl-3 col-lg-6 col-sm-6">
        <div class="card mt-4">
          <div class="img">
            <div class="estado-concierto" *ngIf="estadoConcierto(concierto.link_entrada) as estado"
            [ngClass]="{'diagonal-anulado': estado === 'anulado', 'diagonal-aplazado': estado === 'aplazado'}">
              {{ estado | uppercase }}
            </div>
            <div class="date">
              {{ concierto.fecha_evento | date: 'dd/MM' }}
            </div>
            <img src="{{concierto.imagen}}" alt="" (click)="openModal(concierto.imagen)">
          </div>
          <div class="main-text">
            <h2>{{ replaceUnderscoreAndHyphen(concierto.banda_principal) }}</h2>
            <h4>
              <ng-container *ngIf="concierto.teloneros && concierto.teloneros.length > 0; else noTeloneros">
                <ng-container *ngIf="concierto.nombre === concierto.banda_principal; else verTeloneros">
                  <a (click)="showTelonerosDialog(concierto.teloneros)">
                    <i class="bi bi-info-circle"></i> Ver Bandas
                  </a>
                </ng-container>
                <ng-template #verTeloneros>
                  <a (click)="showTelonerosDialog(concierto.teloneros)">
                    <i class="bi bi-info-circle"></i> Ver Teloneros
                  </a>
                </ng-template>
              </ng-container>
              <ng-template #noTeloneros>
                Sin teloneros
              </ng-template>
            </h4>
            <h4>{{concierto.sala}}</h4>
            <h2>{{concierto.poblacion}}</h2>
          </div>
          <div class="entradas">
            <ng-container *ngIf="tipoDeEntrada(concierto.link_entrada); else mostrarBotonEntradas">
              <p class="entrada-gratuita text-uppercase">{{textoEntrada(concierto.link_entrada)}}</p>
            </ng-container>
            <ng-template #mostrarBotonEntradas>
              <a [href]="concierto.link_entrada" class="btn btn-entradas">
                {{ concierto.link_entrada === 'gratis' ? 'Entrada gratuita' : 'Entradas' }}
              </a>
            </ng-template>
          </div>

        </div>
      </div>
    </ng-container>
  </div>
  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>


<div id="gallery-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="modal-img" [src]="modalImage" alt="Modal Image">
      </div>
    </div>
  </div>
</div>
<div id="teloneros-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Teloneros</h5>
        <button type="button" class="close" (click)="showTeloneros = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li *ngFor="let telonero of telonerosActuales">
            {{ isTeloneroString(telonero) ? telonero : telonero.telonero }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
