
<section id="tranding-concerts">
  <div class="container-concerts">
    <div class="swiper-container tranding-slider" >
      <div class="swiper-wrapper">
        <swiper
        [config]="swiperConfig"
        [pagination]="{ clickable: true }"
          >
          <ng-template
            class="swiper-slide tranding-slide-concerts"
            swiperSlide
            *ngFor="let concierto of conciertos"
            >
            <div class="tranding-slide-concerts-img">
              <img [src]="concierto.src" alt="">
            </div>
            <div class="tranding-slide-content-concerts">
              <h1 class="date-place-concerts">20/5</h1>
              <div class="tranding-slide-content-bottom-concerts">
                <h2 class="food-name">
                  {{concierto.banda}}
                </h2>
                <h3 class="food-rating">
                  <span>{{concierto.ciudad}}</span>
                </h3>
              </div>
            </div>
          </ng-template>
        </swiper>
      </div>
    </div>
  </div>
</section>
