<div class="container my-5">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 formulario">
      <div class="extra">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <h1 class="text-center mt-3">CONTÁCTANOS</h1>
            <div class="title">
              <!-- <h1 class="text-center mt-4">R.I.P.</h1> -->
              <img class="img-fluid mx-auto" src="../../../../../assets/img/skull-removebg-preview.png" alt="">
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>

      </div>
      <form  [formGroup]="FormContacto" (ngSubmit)="EnviarEmail()" action="" class="p-4 mt-2">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Nombre</label>
          <input type="nombre" formControlName="nombre" class="form-control" id="exampleFormControlInput0" placeholder="Intorduce tu nombre ...">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email</label>
          <input type="email" formControlName="email" class="form-control" id="exampleFormControlInput1" placeholder="Introduce email ...">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Asunto</label>
          <input type="asunto" formControlName="asunto" class="form-control" id="exampleFormControlInput2" placeholder="Introduce asunto...">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
          <textarea class="form-control" formControlName="mensaje" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-warning">Enviar</button>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

