
.formulario {
  background-color: black;
  border-radius: 20px;
}
h1 {
color: red;
}
button {
background-color: grey;
color: red;
font-weight: bold;
}
form label {
color: red;
font-weight: bold;
}
.main {
border-radius: 50px;
}
.title {
border: 2px white solid;
}

.title h1 {
font-size: 6rem;
}
.title img {
max-width: 20vw;
width: 100px;
text-align: center;
display: flex;
}
