@import "swiper/scss";
// @import "swiper/scss/effect-coverflow";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

.container-news {
  max-width:  124rem;
  padding: 0 1rem;
  margin: 20px 0;
}
.tranding-slide-news {
  width: 100%;
  max-width: 45rem;
  height: auto;
  position: relative;
}
#tranding-news {
  padding: 0;
}

@media (max-width:1440px) {
  #tranding-news {
    padding: 0;
  }
}

#tranding-news .tranding-slider {
  // height: 42rem;
  padding: 0;
  position: relative;
}

.tranding-slide-news .tranding-slide-news-img img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide-news .tranding-slide-content-news {
  background-color: rgba(0,0,0,0.5);
  border-radius: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content-news .date-place-news {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: white;
}

.tranding-slide-content-news .tranding-slide-content-bottom-news {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: white;
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating i {
  color: red;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: white;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow i {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  height: 2rem;
  bottom: 2rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: red;
}
.swiper-pagination-bullet {
  height: 1rem;
  width: 1rem;
  background: gray;
}
.swiper-pagination-bullet-active {
  background: red;
}
