<div class="politica-privacidad">
  <h1>Política de Privacidad</h1>

  <p>Última actualización: 10/02/2024</p>

  <h2>Introducción</h2>
  <p>Nuestro sitio web, Templo del metal (ubicado en https://www.templodelmetal.com), se compromete a proteger la privacidad de nuestros visitantes. Esta Política de Privacidad explica cómo recopilamos, usamos, y compartimos información personal y no personal de nuestros usuarios.</p>

  <h2>Información que recopilamos</h2>
    <p>No recopilamos información personal de nuestros visitantes. Nuestro sitio web puede ser visitado sin necesidad de proporcionar datos personales.</p>

    <h2>Uso de la información</h2>
    <p>Al no recopilar información personal de nuestros visitantes, no aplicamos ningún proceso de uso de datos personales. Cualquier información recopilada automáticamente (como estadísticas de visitas) se utiliza únicamente para mejorar la experiencia del usuario en nuestro sitio y no se asocia a ningún dato personal.</p>

    <h2>Compartir información con terceros</h2>
    <p>No compartimos datos personales con terceros, ya que no recopilamos dicha información de nuestros visitantes.</p>

    <h2>Cookies y tecnologías de seguimiento</h2>
    <p>Nuestro sitio web utiliza cookies únicamente con fines funcionales y analíticos para mejorar la experiencia del usuario. Estas cookies no recopilan información personal de los visitantes. Los usuarios pueden gestionar el uso de cookies a través de la configuración de su navegador.</p>

    <h2>Seguridad de la información</h2>
    <p>Aunque no recopilamos información personal, nos comprometemos a proteger la seguridad de nuestro sitio web y a implementar medidas técnicas adecuadas para proteger contra el acceso no autorizado o ilegal, la pérdida accidental, la destrucción o el daño de cualquier dato.</p>

    <h2>Sus derechos</h2>
    <p>Dado que no recopilamos información personal de nuestros visitantes, los derechos típicamente asociados con el tratamiento de datos personales, como el acceso, la rectificación y la eliminación, no son aplicables en este contexto. Sin embargo, estamos comprometidos con la transparencia y la protección de la privacidad en nuestro sitio web.</p>

    <h2>Modificaciones a esta política</h2>
    <p>Cualquier actualización o cambio en esta política de privacidad será comunicado en esta página. Animamos a nuestros visitantes a revisar esta política regularmente para estar informados sobre nuestras prácticas de privacidad.</p>

    <h2>Contacto</h2>
    <p>Si tienes preguntas o preocupaciones sobre nuestra política de privacidad, por favor contáctanos a través del mail templodelmetal1969@gmail.com.</p>
</div>
