<section id="tranding-clubs" class="container">
  <div class="row">
    <div class="col-12 col-md-6 my-3">
      <div class="search-form">
        <form (submit)="buscarGaritos()" class="input-group">
          <input type="text" [(ngModel)]="searchText" name="searchText" placeholder="Buscar por nombre..." class="form-control">
          <button type="submit" class="btn btn-search input-group-append"><i class="bi bi-search"></i></button>
        </form>
      </div>
    </div>

    <!-- Search by province -->
    <div class="col-12 col-md-6 my-3">
      <div class="search-form">
        <select [(ngModel)]="selectedProvince" name="selectedProvince" (change)="buscarGaritos()" class="form-select">
          <option value="0">Selecciona provincia...</option>
          <option *ngFor="let provincia of provincias" [value]="provincia.provincia">{{ provincia.provincia }}</option>
        </select>
      </div>
    </div>
  </div>
</section>



