<div class="container-fluid search-container">
  <div class="row">
    <div *ngIf="showNoResultsMessage" class="no-resultados-container bg-white col-lg-4 offset-lg-4">
      <img src="../../../../../assets/img/templo_grafo.jpg" alt="No se encontraron resultados" class="no-resultados-img">
      <div class="no-resultados-overlay">
        <div class="no-resultados-msg">
          No se encontraron resultados para tu búsqueda.
        </div>
        <button class="btn btn-primary btn-volver" (click)="handleVolverAtras()">Volver</button>
      </div>
    </div>

    <ng-container *ngFor="let garito of garitos; let i = index ">
      <ng-container *ngIf="i === 0 || garito.comunidad_autonoma !== garitos[i - 1].comunidad_autonoma">
        <div class="col-12">
          <h2 class="display-1 py-1 mt-5">{{ garito.comunidad_autonoma }}</h2>
        </div>
      </ng-container>
      <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="card rounded-5 mt-2">
          <div class="visited-badge">
            <img *ngIf="garito.visitado === 1" src="../../../../../assets/img/ruta666black.png" alt="Visited Badge">
          </div>
          <!-- <app-lazy-image class="card-img-top img-fluid" [imageSrc]="'http://127.0.0.1:8000/storage/' + garito.imagen" [alt]="garito.alt_imagen"></app-lazy-image> -->
          <img class="card-img-top img-fluid" [src]="'http://127.0.0.1:8000/storage/' + garito.imagen" alt="">
          <div class="card-body">
            <!-- <h5 class="card-title" (click)="showTextDialog(garito.nombre_garito, garito.direccion)">{{ truncateText(garito.nombre_garito, 19) }}</h5>
            <p class="card-text"  (click)="showTextDialog(garito.nombre_garito, garito.direccion)">{{ truncateText(garito.direccion, 19) }}</p> -->
            <div>
              <span>{{ truncateText(garito.nombre_garito, 19).text }}</span>
              <a *ngIf="truncateText(garito.nombre_garito, 19).truncated"
                 style="color: blue; cursor: pointer;"
                 (click)="showTextDialog(garito.nombre_garito, garito.direccion)">
                (ver más)
              </a>
            </div>
            <div (click)="showTextDialog(garito.nombre_garito, garito.direccion)">
              <span>{{ truncateText(garito.direccion, 19).text }}</span>
              <a *ngIf="truncateText(garito.direccion, 19).truncated"
                 style="color: blue; cursor: pointer;"
                 (click)="showTextDialog(garito.nombre_garito, garito.direccion)">
                (ver más)
              </a>
            </div>
            <p class="card-text"><strong>{{garito.poblacion}}</strong></p>
            <div class="row">
              <ul class="icons d-flex flex-row flex-wrap list-unstyled col-8 col-lg-6 col-xl-6 justify-content-between">
                <li class="hover-overlay hover-zoom" *ngIf="garito.facebook && garito.facebook.trim().length > 0">
                  <a href="{{ garito.facebook }}">
                    <span class="bi bi-facebook fs-2"></span>
                  </a>
                </li>
                <li *ngIf="garito.instagram && garito.instagram.trim().length > 0">
                  <a href="{{ garito.instagram }}">
                    <span class="bi bi-instagram fs-2"></span>
                  </a>
                </li>
                <li *ngIf="garito.latitud && garito.latitud.trim().length > 0">
                  <a href="{{garito.latitud}}">
                    <span class="bi bi-geo-alt-fill fs-2"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
<div id="gallery-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modalTitle }}</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>{{ modalText }}</p>
      </div>
    </div>
  </div>
</div>

