.card  img {
  max-width: 33wv;
  max-height: 33wh;
  border-radius: 10% 10% 0 0;
}
.display-1 {
  color: #e5080d;
}
ul li a {
  color: #e5080d;
}

.card {
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
ul li {
  transition: all 0.3s;
}

ul li:hover {
  transform: scale(1.5);
}
h2 {
  font-size: 6rem;
 }
 .visited-badge {
  position: absolute;
  top: 10px; /* Ajusta la posición superior según tu preferencia */
  right: 10px; /* Ajusta la posición derecha según tu preferencia */
  z-index: 1; /* Para que esté sobre la imagen principal */
}

.visited-badge img {
  max-width: 40px; /* Ajusta el ancho de la imagen visitada según tu preferencia */
  border-radius: 50%; /* Hace que el borde de la imagen sea completamente redondo */
  border: 2px solid #e5080d; /* Añade un borde con el color especificado */
}

 @media (max-width: 768px) {
  h2 {
    font-size: calc(1.525rem + 3.3vw);
  }
 }



