<section class="container-fluid bg-warning news d-flex justify-content-around">
  <img class="img-fluid col-12 w-75 h-75 h-lg-auto p-0" src="../../../../assets/img/logotdm.png" alt="">
</section>
<section>
  <div class="container d-none d-lg-block">
    <div class="row my-4 border border-4 rounded">
      <div class="col-2 bg-danger justify-content-center">
        <ul class="d-flex align-items-center flex-column list-unstyled ">
          <li class="mb-auto p-2 bd-highlight"><h2><strong>25</strong></h2></li>
          <li class="mb-auto p-2 bd-highlight"><h5>Marzo</h5></li>
          <li class="mb-auto p-2 bd-highlight"><h5>2023</h5></li>
        </ul>
      </div>
      <div class="col-2">
        <img class="img img-fluid" src="../../../../assets/img/metallica.png" alt="">
      </div>
      <div class="col-6 bg-warning ">
        <ul class="d-flex align-items-start flex-column list-unstyled">
          <li class="mb-auto p-2 bd-highlight"><h2>Metallica</h2></li>
          <li class="mb-auto p-2 bd-highlight">11Bis + Pantera</li>
          <li class="mb-auto p-2 bd-highlight"><strong>Barcelona</strong> | Velodromo de Horta</li>
        </ul>
      </div>
      <div class="col-2 align-self-center">
        <button class="btn btn-secondary btn-lg">Entradas</button>
      </div>
    </div>
  </div>
  <div class="container-md bg-info d-none d-md-block">
    <h1>Moviles</h1>
  </div>
</section>

