<section class="cities">
  <div class="containers">
    <owl-carousel-o [options]="customOptions" class="d-flex">
      <ng-template carouselSlide>
        <div class="city-slide">
          <img src="../../../../../assets/img/Frame 1.jpg" alt="">
          <div class="city-overlay">
            <p class="city-text">Barcelona</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="city-slide">
          <img src="../../../../../assets/img/Frame 2.jpg" alt="">
          <div class="city-overlay">
            <p class="city-text">Madrid</p>
          </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="city-slide">
        <img src="../../../../../assets/img/Frame 3.jpg" alt="">
        <div class="city-overlay">
          <p class="city-text">Cantabria</p>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="city-slide">
        <img src="../../../../../assets/img/Frame 4.jpg" alt="">
        <div class="city-overlay">
          <p class="city-text">Bilbao</p>
        </div>
      </div>
    </ng-template>
      <!-- <ng-template carouselSlide><img src="../../../../../assets/img/pub_manowar.jpg" alt=""></ng-template>
      <ng-template carouselSlide><img src="../../../../../assets/img/pub_manowar.jpg" alt=""></ng-template> -->
    </owl-carousel-o>
  </div>
</section>





