<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card">
        <div class="position-relative">
          <img src="../../../../../assets/img/garito.JPG" class="card-img-top" alt="Descripción de la imagen">
          <div class="card-img-overlay d-flex align-items-end">
            <div class="card-text">
              <h5 class="card-title">Título de la tarjeta</h5>
              <p class="card-text">Texto de la tarjeta</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="position-relative">
          <img src="../../../../../assets/img/garito.JPG" class="card-img-top" alt="Descripción de la imagen">
          <div class="card-img-overlay d-flex align-items-end">
            <div class="card-text">
              <h5 class="card-title">Título de la tarjeta</h5>
              <p class="card-text">Texto de la tarjeta</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="position-relative">
          <img src="../../../../../assets/img/garito.JPG" class="card-img-top" alt="Descripción de la imagen">
          <div class="card-img-overlay d-flex align-items-end">
            <div class="card-text">
              <h5 class="card-title">Título de la tarjeta</h5>
              <p class="card-text">Texto de la tarjeta</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="position-relative">
          <img src="../../../../../assets/img/news3.jpg" class="card-img-top" alt="Descripción de la imagen">
          <div class="card-img-overlay d-flex align-items-end">
            <div class="card-text">
              <h5 class="card-title">Título de la tarjeta</h5>
              <p class="card-text">Texto de la tarjeta</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
