.containers {
  width: 90%;
  margin: 0 auto;

}
.cities {
  // display: flex; /* Para que las imágenes se muestren en una fila horizontal */
  // justify-content: center; /* Centra las imágenes horizontalmente */
  // gap: 10px; /* Agrega un espacio de 10 píxeles entre las imágenes */
  transition: all 0.3s ease;
}
.cities img {
 max-width: 700px;
  height: auto;
}
.cities img:hover {
  box-shadow: 0 0 10px 1px #dbdbdb;
}
