.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 900;
  text-transform: uppercase;
 }

 .card-img-overlay h5 {
  font-size: 3em;
  font-weight: bolder;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: white;
 }

 .card-img-overlay h6 {
  font-size: 2em;
  font-weight: bolder;
  display: flex;
  text-align: end;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: white;
 }
 .card-img-overlay p {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: white;
 }
 .carousel-caption h3 {
  font-family: 'Metal mania', sans-serif;
 }


