.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 900;
  text-transform: uppercase;
 }

 .card-img-overlay h5 {
  font-size: 3em;
  font-weight: bolder;
 }

 .card-img-overlay h6 {
  font-size: 2em;
  font-weight: bolder;
  display: flex;
  text-align: end;
 }


