::ng-deep owl-carousel-o .owl-item {


   img {
    display: block;
    max-width: 100%; // Establece el ancho máximo al 100% del contenedor
    height: auto; // Ajusta la altura automáticamente para mantener la relación de aspecto
    max-height: 650px; // Establece una altura máxima de 500px
    object-fit: cover; // Cubre el área disponible sin perder la relación de aspecto
    object-position: center; // Centra la imagen dentro del elemento
  }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.8); // Fondo semi-transparente para mejorar legibilidad
    color: white;
    padding: 1rem;
    border-radius: 10px;
    bottom: 10%;
    left: 0;
    right: 0;
    transform: translateX(0);
    font-family: 'Metal Mania', sans-serif;
    text-align: center;
    width: 100%;
    box-sizing: border-box;

    h3 {
      font-family: 'Metal Mania', sans-serif;
      color: #e5080d;
      font-weight: bolder;
      margin: 0;
    }

    h5 {
      font-family: 'Metal Mania', sans-serif;
      color: #e5080d;
      margin: 0;
    }
  }
}
@media (max-width: 768px) {
  ::ng-deep owl-carousel-o .owl-item img {
    height: 300px;
  }
}

// Estilos para pantallas pequeñas
@media (max-width: 576px) {
  ::ng-deep owl-carousel-o .owl-item {
    .carousel-caption {
      h3, h5 {
        font-size: smaller; // Tamaño de fuente más pequeño para pantallas pequeñas
      }
    }
  }
  ::ng-deep owl-carousel-o .owl-item img {
    height: 250px;
  }
}

// Estilos para pantallas medianas
@media (min-width: 577px) and (max-width: 768px) {
  ::ng-deep owl-carousel-o .owl-item {
    img {
      height: 300px;
    }
    .carousel-caption {
      h3 {
        font-size: medium; // Tamaño de fuente intermedio para pantallas medianas
      }
      h5 {
        font-size: smaller; // Tamaño de fuente más pequeño para pantallas medianas
      }
    }
  }
}
@media (min-width: 769px) {
  ::ng-deep owl-carousel-o .owl-item img {
    height: 650px; // Altura fija para pantallas grandes
  }
}




