

<footer id="footer" class="bg-primary text-white d-flex-column text-center">
  <hr class="mt-0">
  <!--Social buttons-->
  <div class="text-center">
    <h4>Nos puedes encontrar en</h4>
  </div>
  <div class="redesSociales">
    <ul class="list-unstyled list-inline lista">
      <li class="list-inline-item">
        <a target="_blank" href="https://www.facebook.com/groups/1012326002987671" class="sbtn btn-large mx-1" title="Facebook">
          <i class="bi bi-facebook bi-2x"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a target="_blank" href="https://www.instagram.com/eltemplodelmetall/" class="sbtn btn-large mx-1" title="Instagram">
          <i class="bi bi-instagram bi-2x"></i>
        </a>
      </li>
    </ul>
  </div>
  <!--/.Social buttons-->
  <hr class="mb-0">
  <!--Footer Links-->
  <div class="container text-left text-md-center">
    <div class="row logo">
      <img class="mx-auto d-block" src="../../../../assets/img/logotdm.png" alt="">
    </div>
  </div>


    <!--Social buttons-->
    <div class="text-center">
      <h4>Colaboramos con los XUKLIS</h4>
    </div>
    <div class="xuklis">
      <ul class="list-unstyled list-inline lista">
        <li class="list-inline-item">
          <a target="_blank" href="hhttps://afanoc.org/es/rockpelsxuklis/  " class="sbtn btn-large mx-1" title="XUKLIS">
            <img src="../../../../assets/img//rxx.png" alt="">
          </a>
        </li>
      </ul>
    </div>

    <hr class="mb-0">
  <!--Copyright-->
  <div class="py-3 text-center">

    <p target="_blank" href="https://codepen.io/jettaz"><i class="bi bi-c-circle"></i>
      Copyright {{ year }} Templo del metal</p>
  </div>
  <!--/.Copyright-->
</footer>
