a {
  color:red;
}
.redesSociales {
  max-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lista {
  min-width: 200px;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.lista a {
  text-decoration: none;
  font-size: 28px;
  transition: all .4s ease-in-out;
}
.lista a:hover {
  color: white;
}
 .logo img {
  max-width: 250px;
 }
.xuklis {
  max-height: 20vh;
}
.xuklis a img {
  height: 100px;
}


