<!--


<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single-box">
          <img class="img-fluid" src="./assets/img/logotdm.png" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aut
            mollitia dolorem similique accusamus provident.</p>
            <h3>We Accept</h3>
            <div class="card-area">
              <i class="bi bi-cc-visa"></i>
              <i class="bi bi-credit-card"></i>
              <i class="bi bi-mastercard"></i>
              <i class="bi bi-paypal"></i>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-box">
          <h2>Hosting</h2>
          <ul>
            <li><a href="#">Web hosting</a></li>
            <li><a href="#">Cloud hosting</a></li>
            <li><a href="#">CMS hosting</a></li>
            <li><a href="#">WordPress hosting</a></li>
            <li><a href="#">Email hosting</a></li>
            <li><a href="#">VPS hosting</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-box">
          <h2>Domain</h2>
          <ul>
            <li><a href="#">Web domain</a></li>
            <li><a href="#">Cloud domain</a></li>
            <li><a href="#">CMS domain</a></li>
            <li><a href="#">WordPress domain</a></li>
            <li><a href="#">Email domain</a></li>
            <li><a href="#">VPS domain</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-box">
          <h2>NewsLetter</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi,
            quod maiores numquam consequatur molestiae sapiente.</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter your email ..."
              aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2"><i class="bi bi-arrow-right"></i></span>
          </div>
          <h2>Follow Us on</h2>
          <p class="socials">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-twitter"></i>
            <i class="bi bi-github"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer> -->

<footer id="footer" class="bg-primary text-white d-flex-column text-center">
  <hr class="mt-0">
  <!--Social buttons-->
  <div class="text-center">
    <h4>You can find us at</h4>
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item">
        <a target="_blank" href="https://codepen.io/jettaz" class="sbtn btn-large mx-1" title="Facebook">
          <i class="bi bi-facebook bi-2x"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a target="_blank" href="https://codepen.io/jettaz" class="sbtn btn-large mx-1" title="Linkedin">
          <i class="bi bi-linkedin fa-2x"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a target="_blank" href="https://codepen.io/jettaz" class="sbtn btn-large mx-1" title="Twitter">
          <i class="bi bi-twitter bi-2x"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a target="_blank" href="https://codepen.io/jettaz" class="sbtn btn-large mx-1" title="Youtube">
          <i class="bi bi-youtube bi-2x"></i>
        </a>
      </li>
    </ul>
  </div>
  <!--/.Social buttons-->
  <hr class="mb-0">
  <!--Footer Links-->
  <div class="container text-left text-md-center">
    <div class="row">
      <!--First column-->
      <div class="col-md-3 mx-auto shfooter">
        <h5 class="my-2 font-weight-bold d-none d-md-block">Product</h5>
        <div class="d-md-none title" data-target="#Product" data-toggle="collapse">
          <div class="mt-3 font-weight-bold">Product
            <div class="float-right navbar-toggler">
              <i class="fas fa-angle-down"></i>
              <i class="fas fa-angle-up"></i>
            </div>
          </div>
        </div>
        <ul class="list-unstyled collapse" id="Product">
          <li><a target="_blank" href="https://codepen.io/jettaz">Create Websites</a></li>
          <li><a target="_blank" href="https://codepen.io/jettaz">Secure Cloud Hosting</a></li>
          <li><a target="_blank" href="https://codepen.io/jettaz">Engage Your Audience</a></li>
          <li><a target="_blank" href="https://codepen.io/jettaz">Website Support</a></li>
        </ul>
      </div>
      <!--/.First column-->
      <hr class="clearfix w-100 d-md-none mb-0">
      <!--Second column-->
      <div class="col-md-3 mx-auto shfooter">
        <h5 class="my-2 font-weight-bold d-none d-md-block">Company</h5>
        <div class="d-md-none title" data-target="#Company" data-toggle="collapse">
          <div class="mt-3 font-weight-bold">Company
            <div class="float-right navbar-toggler">
              <i class="fas fa-angle-down"></i>
              <i class="fas fa-angle-up"></i>
            </div>
          </div>
        </div>
        <ul class="list-unstyled collapse" id="Company">
          <li><a target="_blank" href="https://codepen.io/jettaz">About</a></li>
          <li><a target="_blank" href="https://codepen.io/jettaz">Careers</a></li>
          <li><a target="_blank" href="https://codepen.io/jettaz">Support</a></li>
          <li><a target="_blank" href="https://codepen.io/jettaz">Pricing</a></li>
          <li><a target="_blank" href="https://codepen.io/jettaz">FAQ</a></li>
        </ul>
      </div>
      <!--/.Second column-->
      <hr class="clearfix w-100 d-md-none mb-0">
      <!--Third column-->
      <div class="col-md-3 mx-auto shfooter">
        <h5 class="my-2 font-weight-bold d-none d-md-block">Resources</h5>
        <div class="d-md-none title" data-target="#Resources" data-toggle="collapse">
          <div class="mt-3 font-weight-bold">Resources
            <div class="float-right navbar-toggler">
              <i class="fas fa-angle-down"></i>
              <i class="fas fa-angle-up"></i>
            </div>
          </div>
        </div>
        <ul class="list-unstyled collapse" id="Resources">
          <li><a target="_blank" href="#">Blog</a></li>
          <li><a target="_blank" href="#">eBooks</a></li>
          <li><a target="_blank" href="#">Whitepapers</a></li>
          <li><a target="_blank" href="#">Comparison Guide</a></li>
          <li><a target="_blank" href="#">Website Grader</a></li>
        </ul>
      </div>
      <!--/.Third column-->
      <hr class="clearfix w-100 d-md-none mb-0">
      <!--Fourth column-->
      <div class="col-md-3 mx-auto shfooter">
        <h5 class="my-2 font-weight-bold d-none d-md-block">Get Help</h5>
        <div class="d-md-none title" data-target="#Get-Help" data-toggle="collapse">
          <div class="mt-3 font-weight-bold">Get Help
            <div class="float-right navbar-toggler">
              <i class="fas fa-angle-down"></i>
              <i class="fas fa-angle-up"></i>
            </div>
          </div>
        </div>
        <ul class="list-unstyled collapse" id="Get-Help">
          <li><a target="_blank" href="#" target="_blank">Help Center</a></li>
          <li><a target="_blank" href="#">Contact Us</a></li>
          <li><a target="_blank" href="#">Privacy Policy</a></li>
          <li><a target="_blank" href="#">Terms</a></li>
          <li><a target="_blank" href="#">Login</a></li>
        </ul>
      </div>
      <!--/.Fourth column-->
    </div>
  </div>
  <!--/.Footer Links-->
  <hr class="mb-0">
  <!--Copyright-->
  <div class="py-3 text-center">
    <i class="bi bi-c-circle"></i>
    Copyright {{ year }}
    <a target="_blank" href="https://codepen.io/jettaz">Jettaz</a> | It is free for use
  </div>
  <!--/.Copyright-->
</footer>
