<section>
  <div class="news-detail container-fluid p-3 bg-black">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 bg-white rounded-5">
        <div class="headline d-flex justify-content-center bg-light text-wrap col-md-8 offset-md-2 my-5">
          <h1 class="text-uppercase mt-3"><strong>{{noticia ? noticia.titular : 'Titulo no disponible'}}</strong></h1>
        </div>

        <div class="text-1 col-md-8 offset-md-2 my-5">
          <p class="h6">{{ noticia?.texto1 }}</p>
        </div>
        <div class="image rounded-5 my-2">
          <img class="img-fluid mx-auto rounded-5 d-block" [src]="baseUrl + noticia?.foto_inicio" alt="">
        </div>
        <div *ngIf="noticia?.texto2" class="text-1 col-md-8 offset-md-2 my-5">
          <p class="h6">{{ noticia?.texto2 }}</p>
        </div>
        <div class="video d-flex justify-content-center my-5">
          <iframe width="560" height="315"
            [src]="sanitizer.bypassSecurityTrustResourceUrl(noticia?.link_video)"
            title="Reproductor de video de YouTube"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
          </iframe>
        </div>
        <div *ngIf="noticia?.texto3" class="text-1 col-md-8 offset-md-2 my-5">
            <p class="h6">{{ noticia?.texto3 }}</p>
        </div>

        <div *ngIf="noticia?.texto4" class="text-1 col-md-8 offset-md-2 my-5">
            <p class="h6">{{ noticia?.texto4 }}</p>
        </div>

      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</section>

