section {
  background-color: black;
}
.image {
  background-color: black;
}
.row {
  text-align: center;
}
.main-img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content; // Asegura que el contenedor no sea más ancho que la imagen
}

.main-img-content {
  max-height: 90vh;
  width: auto;
  object-fit: cover;
  display: block; // Asegúrate de que sea block para respetar el margin auto
  margin-left: auto;
  margin-right: auto;
}


.main-img img {
  max-height: 90vh;
  width: 100%; // Cambio clave: asegúrate de que ocupe todo el ancho del contenedor
  object-fit: cover;
}


.contact-overlay {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: auto;
  height: auto;
  // padding: 20px;
}



.contact-overlay button {
  background-color: #e5080d;
  color: white;
  font-weight: bolder;
}
@media (max-width: 450px) {
  .contact-overlay button {
    font-size: 0.6rem; /* Tamaño de fuente para dispositivos móviles */
    padding: 10px 15px;
  }
}

