

<section class="container-fluid image" *ngIf="!showForm">
  <div class="row main-img position-relative">
    <img src="/assets/img/templo_grafo.jpg" alt="" class="main-img-content">

      <div class="contact-overlay">
        <button (click)="toggleForm()" class="btn btn-primary">Contactanos</button>
      </div>
  </div>
</section>

  <section class="contacto" *ngIf="showForm">
    <app-form-contact (formSuccess)="onFormSuccess($event)" (volverEvent)="handleVolver()"></app-form-contact>
  </section>


