// @import '../../../../styles.scss';

// .title {
//   font-family:$ff-title;

//  }

//  .title h1 {
//   font-size: 150px;
//   color: red;
//  }



.container-fluid {
  height: 100vh;
}
.head {
  font-size: 120px;
  color: red;
 }

 .carousel-item {
  height: 75vh;
  min-height: 100px;
  max-width: 400px;
  // height: auto;
 }
 .carousel-caption {
  bottom: 220px;
 }

.carousel-caption h5 {
  color: red;
  font-weight: bold;
 }


