
<section class="container-fluid image">
  <div class="row main-img">
    <img class="p-0"  src="/assets/img/concert5.jpg" alt="">
  </div>
</section>
<section class="conciertos py-5">
  <div class="container-fluid color-overlay d-flex flex-column justify-content-center align-items-center fade-in-left">
    <app-title [nombre]="'próximos conciertos'"></app-title>
  </div>
  <div class="slider slider-concerts fade-in-right">
    <app-slider-concerts></app-slider-concerts>
  </div>
</section>
<section class="container-fluid news py-5">
  <div class="container-fluid color-overlay d-flex flex-column justify-content-center align-items-center fade-in-left">
    <app-title [nombre]="'últimas noticias'"></app-title>
  </div>
  <div class="slider slider-news fade-in-right">
    <app-slider-news></app-slider-news>
  </div>
</section>

<section class="clubs py-5">
  <div class="container-fluid color-overlay d-flex flex-column justify-content-center align-items-center fade-in-left">
    <app-title [nombre]="'garitos'"></app-title>
  </div>
  <div class="slider slider-clubs fade-in-right">
      <app-slider-clubs></app-slider-clubs>
  </div>

</section>
<app-back-to-top-button></app-back-to-top-button>
