
<section class="container-fluid image">
  <div class="row main-img">
    <img class=""  src="/assets/img/289702748_10159868988994904_9180178091870686296_n.jpg" alt="">
  </div>
</section>

<section class="news">
  <div class="container-fluid color-overlay d-flex flex-column justify-content-center align-items-center">
    <app-title [nombre]="'últimas noticias'"></app-title>
  </div>
  <div >
    <app-slider-news></app-slider-news>
  </div>
</section>
<section class="conciertos">
  <div class="container-fluid color-overlay d-flex flex-column justify-content-center align-items-center">
    <app-title [nombre]="'próximos conciertos'"></app-title>
  </div>
  <div>
    <app-slider-concerts></app-slider-concerts>
  </div>
</section>

<section class="clubs">
  <div class="container-fluid color-overlay d-flex flex-column justify-content-center align-items-center">
    <app-title [nombre]="'garitos'"></app-title>
  </div>
  <div>
      <app-slider-clubs></app-slider-clubs>
  </div>
</section>








