
.main-img img {
  max-height: 90vh;
  width: 100vw;
  background-size: cover;
}
.news {
  background-color: white;
}
.conciertos {
  background-color: black;
}
.clubs {
  background-color: white;
}
.container-fluid {
  padding: 0;
}

@media (max-width: 1200px) {
  .main-img img {
    width: 100vw;
    height: auto;
    padding: 0;
    margin: 0;
  }
}



