.search-container {
  position: relative;
  z-index: 2;
  padding: 0 1rem;
  max-width: 124rem;
  margin: 0 auto;
}

.search-form .input-group {
  display: flex;
  border-radius: 30px;
  overflow: hidden;
}

.form-control {
  flex-grow: 1;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  border-radius: 30px 0 0 30px;
}

.input-group-btn {
  display: flex;
}

.btn-search {
  border: none;
  background-color: #e5080d;
  color: #ffffff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0 30px 30px 0;
}

.btn-search i {
  color: #ffffff;
}

/* Estilos para el select */
.search-form .form-select {
  flex-grow: 1;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  border-radius: 30px; /* Aplicar bordes redondeados */
}

/* Estilos para el botón 'NOVEDADES' */
.btn-ultimas-novedades {
  background-color: #e5080d; /* Color corporativo */
  color: #ffffff;
  border-radius: 30px; /* Bordes redondeados */
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .search-form {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 0.5rem;
  }

  .form-control, .form-select {
    margin: 0;
    flex-basis: auto;
  }

  .btn-search, .btn-ultimas-novedades {
    margin-top: 0;
    width: 100%;
    border-radius: 0;
  }
}

@media (max-width: 750px) {
  .search-container {
    padding: 0 0.5rem;
  }
}



