<!-- <div class="row justify-content-center">
  <div class="col-md-6"></div>
  <div class="col-md-6"></div>
</div> -->

<!-- <div class="row row-cols-1 row-cols-lg-2 ">
  <div class="col" *ngFor="let noticia of noticias">
    <div class="card mb-4" >
      <img src="{{noticia.img}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{noticia.title}}s</h5>
        <p class="card-text">{{noticia.text}}<a href="">Leer mas</a></p>
        <p class="card-text"><i class="bi bi-clock-history"></i> Hace 17 horas</p>
        <h6></h6>
      </div>
    </div>
  </div> -->
  <!-- <div class="col">
    <div class="card">
      <img src="../../../../../assets/img/news2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Las 5 bandas más imprescindibles</h5>
        <p class="card-text">Después de 47 años de espera llega el mejor disco de la historia del metal. Una mezcla entre el mejor heavy clásico con toques de thrash metal moderno....</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../../../assets/img/news3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../../../assets/img/news4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div> -->
  <!-- </div> -->
<!-- </div> -->






