
.izquierda, .derecha {
  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .col-xl-6 {
    padding-right: 0;
    padding-left: 0;
  }
}
.row {
  background-color: black;
}

.vh-90 {
  min-height: 50vh;
}

// Fondo con ondas, puede ser una imagen SVG o CSS puro
.bg-wave {
  background: url('data:image/svg+xml;base64,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#273036" fill-opacity="1" d="M0,96L60,80C120,64,240,32,360,37.3C480,43,600,85,720,117.3C840,149,960,171,1080,160C1200,149,1320,107,1380,85.3L1440,64L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 0;
  h1 {
    font-size: 2.5rem; // Tamaño de fuente para el encabezado
    color: #e5080d;
    font-weight: bolder;
    font-family: 'Metal mania', sans-serif;
  }

  p {
    font-size: 1.2rem; // Tamaño de fuente para el texto del cuerpo
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.img-fluid {
  width: 100%;
  height: auto;
  object-fit: cover;
}
// Estilos responsivos

@media (max-width: 1200px) {
  .bg-wave, .img-fluid {
    order: 2; // El texto va después de la imagen
  }

  // Dado que .img-fluid está dentro de un .col-*, necesita especificar la orden allí
  .col-*, .col-lg-6 {
    order: 1; // La imagen va antes del texto
  }
}
@media (max-width: 767px) {
  .vh-90 {
    min-height: auto; // Ajusta la altura mínima para dispositivos móviles si es necesario
  }

  .bg-wave {
    background-size: auto; // Ajusta el fondo para pantallas más pequeñas
    background-position: center bottom; // Centra el fondo en la parte inferior
    padding: 1rem; // Añade un poco de relleno si es necesario para evitar que el texto toque los bordes
    order: 2;
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-size: 0.8rem;
    }
  }

  // Asegúrate de que las imágenes y los textos se apilen verticalmente en pantallas pequeñas
  .bg-wave, .img-fluid {
    order: 2; // El texto va después de la imagen
  }
}



