<!-- who-we-are.component.html
<section class="container-fluid bg-dark">
  <article class="start">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="header">QUEREMOS</h1>
      </div>
      <div class="main-text mt-5">
        <h4 class="main text-center">DAR VISIBILIDAD AL METAL Y PUNK</h4>
      </div>
      <div class="imagen text-center">
        <img src="../../../../assets/img/hands-and-gestures.png" alt="">
      </div>
    </div>
  </article>
  <hr>
  <article class="container-fluid center mt-5">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="title text-center">CONCIERTOS</h1>
        <p class="conciertos">Enterate de todos los conciertos de la península, últimas novedades, actualizaciones, link venta de entradas</p>
      </div>
      <div class="col-lg-4">
        <img src="../../../../assets/img/gibson-flying-v.png" alt="">
      </div>
    </div>
  </article>
  <hr>
  <article class="container-fluid center mt-5">
    <div class="row">
      <div class="col-lg-4">
        <img src="../../../../assets/img/hands-and-gestures.png" alt="">
      </div>

      <div class="col-lg-8">
        <h1 class="title text-center">GARITOS</h1>
        <p class="conciertos">Busca los garitos de metal y punk que hay en al peninsula, no dejes de disfrutar de una birra fria y escuchar tu música cuando vayas de vacaciones</p>
      </div>
    </div>
  </article>
</section> -->



<div class="container-fluid">
  <div class="row align-items-center vh-90 izquierda">
    <div class="col-xl-6 p-0 overflow-hidden">
      <img src="../../../../assets/img/grupo.jpg" alt="Descripción de la imagen" class="img-fluid">
    </div>
    <div class="col-xl-6 bg-wave d-flex justify-content-center flex-column text-center textBg">
      <h1>Quienes somos</h1>
      <p>Somos un escuadrón de metaler@s veteranos, unidos por el rugido de guitarras distorsionadas y la llamada de los escenarios oscuros. Nuestra misión: mapear cada santuario del metal en la península, llevando la antorcha del heavy metal a cada rincón que reclame su sonido.</p>
    </div>
  </div>

  <div class="row align-items-center vh-90 derecha">
    <div class="col-xl-6 bg-wave d-flex justify-content-center flex-column text-center order-lg-1">
      <h1>Ruta 666</h1>
      <p>La Ruta 666 es nuestra cruzada épica, un viaje sagrado a través de garitos y templos del metal. Desde los bares más oscuros hasta las arenas más imponentes, trazamos un camino de metal / punk, resistencia y hermandad, buscando expandir nuestro santuario metalero.</p>
    </div>
    <div class="col-xl-6 p-0 overflow-hidden order-xl-2">
      <img src="../../../../assets/img/quienes_somos_ruta_n.jpg" alt="Descripción de la imagen" class="img-fluid">
    </div>
  </div>
  <div class="row align-items-center vh-90 izquierda">
    <div class="col-xl-6 p-0 overflow-hidden">
      <img src="../../../../assets/img/grupo.jpg" alt="Descripción de la imagen" class="img-fluid">
    </div>
    <div class="col-xl-6 bg-wave d-flex justify-content-center flex-column text-center textBg">
      <h1>Conoce Tus Garitos</h1>
      <p>En ruta o de vacaciones, cada metalero merece saber dónde disfrutar de esa cerveza fría al ritmo del mejor metal. Aquí te mostramos los santuarios del rock duro, esos rincones donde los acordes te hacen vibrar y la hermandad metalera se siente en cada esquina. Descubre los garitos de cada provincia y sumérgete en el alma del metal, estés donde estés.</p>
    </div>
  </div>

  <div class="row align-items-center vh-90 derecha">
    <div class="col-xl-6 bg-wave d-flex justify-content-center flex-column text-center order-lg-1">
      <h1>Noticias</h1>
      <p>Aquí encontrarás noticias del mundo del metal, desde los titanes del género hasta esas bandas que luchan por hacerse un nombre. Nos sumergimos en lo profundo del metal para traerte lo último y más relevante del mundo del rock pesado.</p>
    </div>
    <div class="col-xl-6 p-0 overflow-hidden order-xl-2">
      <img src="../../../../assets/img/quienes_somos_ruta_n.jpg" alt="Descripción de la imagen" class="img-fluid">
    </div>
  </div>
  <div class="row align-items-center vh-90 izquierda">
    <div class="col-xl-6 p-0 overflow-hidden">
      <img src="../../../../assets/img/conoce_garitos.png" alt="Descripción de la imagen" class="img-fluid">
    </div>
    <div class="col-xl-6 bg-wave d-flex justify-content-center flex-column text-center textBg">
      <h1>Conciertos</h1>
      <p>No hay nada como el estruendo y la energía de un buen concierto de metal. Nuestro propósito es dar luz a bandas emergentes y esas joyas ocultas del metal que merecen ser escuchadas. Desde los gigantes del género hasta los recién llegados, todos tienen un lugar en nuestro escenario.</p>
    </div>
  </div>

  <div class="row align-items-center vh-90 derecha">
    <div class="col-xl-6 bg-wave d-flex justify-content-center flex-column text-center order-lg-1">
      <h1>Colaboraciones con Xuklis</h1>
      <p>Nos unimos a la noble causa de Xuklis, una asociación que ofrece un hogar a familias con niños luchando contra el cáncer. A través de conciertos de rock y metal, venta de camisetas y más, recaudamos fondos para esta valiosa misión. ¡Únete a nosotros en este acto de metal y corazón!</p>
    </div>
    <div class="col-xl-6 p-0 overflow-hidden order-xl-2">
      <img src="../../../../assets/img/xuklis.png" alt="Descripción de la imagen" class="img-fluid">
    </div>
  </div>
  <div class="row align-items-center vh-90 izquierda">
    <div class="col-xl-6 p-0 overflow-hidden">
      <img src="../../../../assets/img/grupo.jpg" alt="Descripción de la imagen" class="img-fluid">
    </div>
    <div class="col-xl-6 bg-wave d-flex justify-content-center flex-column text-center textBg">
      <h1>Únete a Nuestra Cruzada</h1>
      <p>Tu conocimiento y pasión por el metal pueden ayudar a mantener viva esta comunidad. Buscamos colaboradores para descubrir conciertos, noticias y verificar garitos. Si respiras metal y quieres ser parte de esta odisea, ¡este es tu lugar!</p>
    </div>
  </div>
</div>

