<!-- who-we-are.component.html -->
<section class="container-fluid bg-dark">
  <article class="start">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="header">QUEREMOS</h1>
      </div>
      <div class="main-text mt-5">
        <h4 class="main text-center">DAR VISIBILIDAD AL METAL Y PUNK</h4>
      </div>
      <div class="imagen text-center">
        <img src="../../../../assets/img/hands-and-gestures.png" alt="">
      </div>
    </div>
  </article>
  <hr>
  <article class="container-fluid center mt-5">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="title text-center">CONCIERTOS</h1>
        <p class="conciertos">Enterate de todos los conciertos de la península, últimas novedades, actualizaciones, link venta de entradas</p>
      </div>
      <div class="col-lg-4">
        <img src="../../../../assets/img/gibson-flying-v.png" alt="">
      </div>
    </div>
  </article>
  <hr>
  <article class="container-fluid center mt-5">
    <div class="row">
      <div class="col-lg-4">
        <img src="../../../../assets/img/hands-and-gestures.png" alt="">
      </div>

      <div class="col-lg-8">
        <h1 class="title text-center">GARITOS</h1>
        <p class="conciertos">Busca los garitos de metal y punk que hay en al peninsula, no dejes de disfrutar de una birra fria y escuchar tu música cuando vayas de vacaciones</p>
      </div>
    </div>
  </article>
</section>

